{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>TASSEL Gala - Purchase</title>
        <meta name="description" content="purchase page" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta name='viewport' content='width=device-width, inital-scale=1' />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'event/tickets.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".not-selected").hover(function(){
                    $(this).css({'background': 'rgb(255, 255, 255)'});
                    $('.not-current', this).css({'color': 'black'});
                    }, function(){
                    $(this).css({'background': 'transparent'});
                    $('.not-current', this).css({'color': 'rgb(255, 255, 255)'});
                });
            });     
        </script>
        {% block script %} {% endblock script %}
    </head>
    <body>
        <a href="{% url 'event-home' %}"><img src="{% static 'event/tassel_logo.png' %}" id='top-2'></a>
        <div id="header">
            <a href="{% url 'event-home' %}"><img src="{% static 'event/tassel_logo.png' %}" class='img-responsive' id='top'></a>
            <ul id="menu">
                {% block menu %} {% endblock menu %}
            </ul>
        </div>
        <div id="site_content">
                {% block content %} {% endblock content %}
        </div>
        <div id="footer">
            <div id='footercontent'>
                <img src="{% static 'event/tassel_logo.png' %}" class='img-responsive'>
                <h3>For any questions or enquiries, contact tasselsas@gmail.com</h3>
            </div>
        </div>
    </body>
</html>