{% extends "tickets/contentbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>TASSEL Gala - Purchase</title>
{% endblock title %}
{% block menu %}
<li class="not-selected"><a href="{% url 'event-home' %}" class='not-current'>Home</a></li>
<li class='selected'><a href="{% url 'buy' %}" id='current'>Tickets</a></li>
<li class='not-selected'><a href="https://secure.squarespace.com/checkout/donate?donatePageId=5892759d6a49632fcab4171a&ss_cid=3832ac65-17c9-417a-a7fd-9667bda7ae65&ss_cvisit=1571044001046&ss_cvr=0a3546fe-4328-4da5-96a8-9b287e8adc88%7C1571044000888%7C1571044000888%7C1571044000888%7C1" target="_blank" class='not-current'>Donate</a></li>
{% endblock menu %}

{% block content %}
<h1>Payment Successful</h1>
<h2>An email will be sent over the next 7 days to confirm your purchase for our service event.</h2>
{% endblock content %}