{% extends "event/base.html" %}
{% load static %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{% static 'event/eventmain.css' %}">
{% endblock mycss %}
{% block top %}
<div class='title' id='midmobiletitle'>
    <h1>TASSEL GALA DINNER 2019</h1>
    <h4>Hosted by TASSEL SAS Chapter</h4>
</div>
<div id='photo'>
    <img src="{% static 'event/tasselfinal.jpg' %}" class='img-responsive'>
    <div id="centered">
        <h4>TASSEL SAS Presents:</h4>
        <h1 id='bigtitle'>TASSEL GALA DINNER 2019</h1>
        <h3>SUNDAY, NOV 17 | 6:30PM</h3>
        <a href="{% url 'buy' %}" class='button' id='button1'>Purchase a Ticket</a>
    </div>
</div>
    <img src="{% static 'event/tassel_logo.png' %}" class='img-responsive' id='top'>
    <ul id="menu">
        <li class="selected"><a href="{% url 'event-home' %}" id='current'>Home</a></li>
        <li class='not-selected'><a href="{% url 'buy' %}" class='not-current'>Tickets</a></li>
        <li class='not-selected'><a href="https://secure.squarespace.com/checkout/donate?donatePageId=5892759d6a49632fcab4171a&ss_cid=3832ac65-17c9-417a-a7fd-9667bda7ae65&ss_cvisit=1571044001046&ss_cvr=0a3546fe-4328-4da5-96a8-9b287e8adc88%7C1571044000888%7C1571044000888%7C1571044000888%7C1" target="_blank" class='not-current'>Donate</a></li>
    </ul>
{% endblock top %}
{% block content %}
<div id="home_content">
</div>
{% endblock content %}
{% block homecontent %}
<a href="{% url 'buy' %}" class='button' id='button2'>Purchase a Ticket</a>
<div id='detail'>
    <h4>Date:</h4>
    <h3>November 17th, 2019 | 6:30PM</h3>
</div>
<div id='image_text'>
    <img src="{% static 'event/tasselcontent.jpg' %}" class='img-responsive' id='img_side'>
    <div id='image-side'>
        <h2>Theme:</h2>
        <h1>Start a New Chapter</h1>
        <p id='p1'>This year we have the opportunity to “start a new chapter” for TASSEL by building a new TASSEL school in the extremely impoverished and PTSD-ravaged village of Samlot.</p>
        <h3>Theme:</h3>
        <h4>Start a New Chapter</h4>
        <p id='p2'>This year we have the opportunity to “start a new chapter” for TASSEL by building a new TASSEL school in the extremely impoverished and PTSD-ravaged village of Samlot.</p>
    </div>
</div>
<div id='image-txt'>
    <h3>Theme:</h3>
    <h4>Start a New Chapter</h4>
    <p>The theme of our event is “Start a New Chapter” because we aim to create a new TASSEL school in a rural Cambodian village in the Battambang province called Samlot.</p>
</div>
<div class='info'>
    <h2 class="side"><strong>
        About TASSEL</strong></h2>
    <p class='para'>TASSEL (“Teaching And Sharing Skills to Enrich Lives”) is a U.S. 501(c)(3) public charity established in 2012. Initially TASSEL's sole activity was having U.S.-based, trained volunteers provide free English classes over video conferencing to the poor in rural Cambodia. But it has quickly evolved to include actively encouraging, recruiting, training and funding high potential Cambodian adults to become teachers as well as providing food aid, medical care access and other support services to the poorest families who have limited capabilities to earn income. More information about our organization can be found at <a href='tasselcambodia.org' target="_blank">tasselcambodia.org</a>.</p>
</div>
<div class='info'>
    <h2 class="side"><strong>
        About TASSEL SAS</strong></h2>
    <p class='para'>The TASSEL chapter at SAS engages in direct service, indirect service, research, and advocacy in order to make an indelible impact in the lives of the Cambodians we serve. During the second semester of the year, students teach English (phonics, reading, writing or grammar) using an online platform on a biweekly basis. Our club has received an exemplary rating from the Singapore American School Executive Service Council for six consecutive semesters.</p>
</div>
{% endblock homecontent %}