html
{ height: 100%;}

*
{ 
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body
{ 
  font-family: 'PT Sans Narrow', sans-serif;  
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  width: 100%;
  overflow-x: hidden;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  font-size: 18px;
}

.not-current {
  color: rgb(255, 255, 255);
}

#current {
  color: black;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  float:right;
}

h1, h2, h3, h4, h5, h6 
{
  font-family: 'PT Sans Narrow', sans-serif;  
  padding: 15px 0 5px 0;}

h2
{ font-family: 'PT Sans Narrow', sans-serif;
}
h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

/**.center
{ display: block;
  text-align: center;
  margin: 20px auto;}**/

#top{
  position: absolute;
  top:10px;
  left: 16px;
  width: 200px;
  height: auto;
}
#top-2{
    display: block;
    width: 200px;
    margin: 30px auto;
  }

input[type=submit]{
  padding:5px 15px; 
  background:#ccc; 
  cursor:pointer;
  border-radius: 5px; 
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

#warning{
  margin-bottom: 10px;
}

a.button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 25px 2px;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

a.button:hover{
  background-color: rgb(240, 237, 239);
}

#center-form{
  margin: 15px auto;
  text-align: center;
  width: 240px;
  display: block;
}

#center-form-text{
  width: 70%;
  margin: 50px auto 0;
  text-align: center;
}
#header
{ background: transparent;
  height: 80px;
  width: 100%;
}
ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu, ul#menu
{
  position: absolute;
  top: 0px;
  right: 0px;
}

ul#menu li
{ list-style: none;
}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: 'Montserrat', sans-serif;
  display: block; 
  width: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li:hover
{ color: black;
  background: rgb(255, 255, 255);}

.selected
{
  color:black;
  background: rgb(255, 255, 255);
}

.not-selected
{
  color: rgb(255, 255, 255);
  background: transparent;
}
#site_content
{ width: 70%;
  overflow: hidden;
  margin: 0 auto 0 auto;
  display: block;
  min-height: 580px;
} 
#home_content
{ width: 100%;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding-top:100px;
} 

#other_content {
  width: 80%;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

#footer{
  width: 100%;
  height: 150px;
  background: rgb(14, 14, 14);
}

#footercontent{
  width: 70%;
  margin: 0 auto;

}
#footercontent img{
  width: 200px;
  margin-top: 45px;
  margin-left: 40px;
  float:left;
}
#footercontent h3{
  float:right;
  display: block;
  width: 60%;
  margin-top: 40px;
}
#number{
  display:none;
}
#amount{
  display:block;
}

@media screen and (min-width: 1150px) {
  #photo {
    top:0px;
  }
  #header{
    display: block;
    }
  #top-2{
    display: none;
    }
  #footercontent img{
    width: 200px;
    margin-top: 45px;
    margin-left: 40px;
    float:left;
  }
  #footercontent h3{
    float:right;
    display: block;
    width: 60%;
    margin-top: 40px;
  }
}



@media screen and (max-width: 1280px) and (min-width: 850px){
  #photo {
      top:30px;
  }
  #header{
    display: block;
    }
  #top-2{
    display: none;
    }
  #footercontent img{
    width: 200px;
    margin-top: 45px;
    margin-left: 40px;
    float:left;
  }
  #footercontent h3{
    float:right;
    display: block;
    width: 60%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 850px){
  #photo {
    top:30px;
  }
  #home_content{
    padding-top: 0px;
  }
  #header{
      display: none;
  }
  #top-2{
    display: block;
  }
  #footercontent img{
    width: 100px;
    margin-left: 5px;
  }
  #footercontent h3{
    float:right;
    display: block;
    width: 50%;
    margin-top: 18px;
    font-size: 20px;
  }
  #footercontent{
    width: 90%;
    margin: 0 auto;
  }
}